{% extends 'archive/base.html'%}

{% block content %}
    <nav class="navbar navbar-light bg-light justify-content-between">
        <a class="navbar-brand" href="{% url 'archive:score_home' %}">Score</a>
        <form class="form-inline" action="{% url 'archive:song_search' %}" method="POST">
            {% csrf_token %}
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
    <div class="container">
        {% block innerContent %}
        <p>
        General infor about scores and stuff
        <p>
        {% endblock %}
    </div>
{% endblock %}