{% extends 'archive/base.html'%}
{% block content %}
    <div class="container" style="margin: auto;">
        {% block innerContent %}
            {% include 'archive/song_advanced_search.html'%}
            <div class="row w-100 justify-content-md-center" style="margin: auto;">
                <div class="table-responsive musikjilink">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Song Name</th>
                                <th scope="col">Artists</th>
                                <th scope="col">Added by</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for song in page_obj %}
                                <tr>
                                    <th scope="row"><a href="{% url 'archive:song_detail' song.id %}">{{ song.name_eng}}</a></th>
                                    <td>{% for art in song.artists.all %}
                                            <a href="{% url 'archive:artist_detail' art.id %}">{{art.name_eng}}</a>
                                        {% endfor %}
                                    </td>
                                    <td scope="row"><a href="{% url 'profile_detail' song.added_by.id %}">{{ song.added_by.username}}</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row w-100 justify-content-md-center" style="margin: auto; ">
                {% include 'archive/paginator.html' %}
            </div>
        {% endblock %}
        </div>
    </div>
{% endblock %}